doctype html
html(ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="keywords" content="")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    if title!=''
        title Akademia WWW - #{title}
    else
        title Akademia WWW 
    include ../partials/styles.pug
  body
    script
        include ../partials/analitics.js
    block header
    block content
    block footer
    block others

        //script(src="/js/all.min.js")
    script(src='/js/jquery-3.3.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/angular/angular.min.js')
    script(src="/js/angular-scroll.min.js")
    block scripts